.top-navbar {
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  background-color: var(--background-color) !important;
  padding: 0.5rem 0;
}
.navbar-collapse {
  flex-basis: auto;
}

.exit-link {
  white-space: nowrap;
}

.user-info {
  font-size: 0.8rem;
  line-height: 1.2;
}

.top-navbar .navbar-nav {
  padding-top: 10px;
}

.top-navbar .navbar-brand {
  padding-top: 10px;
}

.brand-text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--text-color);
  text-transform: uppercase;
}

.brand-text::first-line {
  font-size: 1.1em;
}

.brand-text span {
  font-size: 0.8em;
}

.top-navbar .nav-link {
  color: var(--text-color) !important;
  transition: color 0.3s ease;
}

.top-navbar .nav-link:hover {
  color: var(--hover-color) !important;
}

.profile {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

/* Add styles for the username and role */
.profile div {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.profile strong {
  font-size: 0.9rem;
}

.profile div:last-child {
  font-size: 0.8rem;
  opacity: 0.8;
}
