.Todo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    overflow-x: scroll;

    table {
        min-width: 400px;
    }

    table th,td {
        border-bottom: 1px solid gray;
        padding: 12px;
        text-align: center;
    }


}
